streamlit_chat
tesseract-ocr
libtesseract-dev
pillow
pytesseract
transformers
PyPDF2
PyMuPDF
PyPDF2
sentence-transformers
PyPDF2
spacy
pikepdf
PyMuPDF
langchain
Unstructured
sentence_transformers
PyPDF2
TfidfVectorizer
chromadb
fitz
transformers
SentencePiece
PyMuPDF
huggingface_hub
numpy
SentencePiece